<div class="documentation-serivces-container">

    <div class="box box-1">
      
      <label><div class="circle"></div> Rental & Lease Documentations</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-1"><a href="/rental-agreement">Rental Agreement</a></button>
        <button class="button button-1"><a href="/rental-agreement">Commercial Rental Agreement</a></button>
      </div>
    </div>
    <div class="box box-2">
      <label><div class="circle"></div>Power of Attorney</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-2"><a href="/power-of-attorney">Power of Attorney</a></button>
        <button class="button button-2"><a href="/power-of-attorney">Power of Attorney By NRIs</a></button>
        <button class="button button-2"><a href="/revoke-power-of-attorney">Revocation Of Power of Attorney</a></button>
      </div>
    </div>
  
    <div class="box box-3">
      <label><div class="circle"></div> Wills</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-3"><a href="/#">Simple Will</a></button>
        <button class="button button-3"><a href="/#">Will in Favour of Multiple Beneficiaries</a></button>
      </div>
    </div>
  
    <div class="box box-4">
      <label><div class="circle"></div> Deeds</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-4"><a href="/#">Gift Deed</a></button>
        <button class="button button-4"><a href="/#">Sale Deed</a></button>
        <button class="button button-4"><a href="/#">Partnership Deed</a></button>
      </div>
    </div>
    <div class="box box-5">
      <label><div class="circle"></div> Personal & Family Affidavits</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-5"><a href="/name-change-affidavit">Change Of Name Affidavit</a></button>
        <button class="button button-5"><a href="/after-marriage-name-change-affidavit">Change Of Name After Marriage Affidavit</a></button>
        <button class="button button-5"><a href="/address-proof-affidavit">Address Proof Affidavit</a></button>
      </div>
    </div>
    <div class="box box-5">
      <label><div class="circle"></div> Personal & Family Affidavits</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-5"><a href="/signature-change-affidavit">Change Of Signature Affidavit</a></button>
        <button class="button button-5"><a href="/dob-affidavit">Proof Of Date Of birth Affidavit</a></button>
        <button class="button button-5"><a href="/income-proof-affidavit">Proof Of Income Affidavit</a></button>
      </div>
    </div>
    <div class="box box-5">
      <label><div class="circle"></div> Personal & Family Affidavits</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-5"><a href="/marriage-registration-affidavit">Marriage Registration Affidavit</a></button>
        <button class="button button-5"><a href="/domicile-affidavit">Domicile Affidavit</a></button>
      </div>
    </div>
    <div class="box box-6">
      <label><div class="circle"></div> Student Affidavits</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-6"><a href="/first-child-affidavit">First Child Affidavit</a></button>
        <button class="button button-6"><a href="/education-load-affidavit">Education Loan Affidavit</a></button>
        <button class="button button-6"><a href="/#">Affidavit For Gap In Education</a></button>
        <button class="button button-6"><a href="/#">Affidavit For Duplicate Marklist</a></button>
      </div>
    </div>
    <div class="box box-7">
      <label><div class="circle"></div> New Gas Connection Affidavits</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-7"><a href="/gas-pipeline-connection-affidavit">New Gas Pipeline Connection Affidavit</a></button>
        <button class="button button-7"><a href="/gas-connection-affidavit">New LPG Gas Connection Affidavit (Annexure-A)</a></button>
      </div>
    </div>
    <div class="box box-8">
      <label><div class="circle"></div> Other Affidavits</label>
      <hr class="hr"/>
      <div class="links-container">
        <button class="button button-8"><a href="/#">Other Types of Affidavits</a></button>
      </div>
    </div>
  
  </div>