<div class="legal-serivces-container">

    <div class="box criminal-laws" (click)="goto()">
      <label><div class="circle"></div>Criminal Laws</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/criminal-laws.png"></div>
    </div>
    <div class="box family-laws" (click)="goto()">
      <label><div class="circle"></div>Family Laws</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/family-laws.png"></div>
    </div>
    <div class="box property-laws" (click)="goto()">
      <label><div class="circle"></div>Properties Laws</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/properties-laws.png"></div>
    </div>
    <div class="box contract-laws" (click)="goto()">
      <label><div class="circle"></div>Contract laws</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/contract-laws.png"></div>
    </div>
    <div class="box backing-financial-laws" (click)="goto()">
      <label><div class="circle"></div>Banking & Financial Laws</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/banking-financal-laws.png"></div>
    </div>
    <div class="box service-matters" (click)="goto()">
      <label><div class="circle"></div>Service Matters</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/service-matters.png"></div>
    </div>
    <div class="box cyber-crimes" (click)="goto()">
      <label><div class="circle"></div>Cyber Crimes</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/cyber-crimes.png"></div>
    </div>
    <div class="box ni-acts" (click)="goto()">
      <label><div class="circle"></div>Cheque Bounce (NI Acts)</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/ni-acts.png"></div>
    </div>
    <div class="box bails" (click)="goto()">
      <label><div class="circle"></div>Bails</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/bails.png"></div>
    </div>
    <div class="box sexual-offences" (click)="goto()">
      <label><div class="circle"></div>Sexual / Domestic Offences</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/sexual-offences.png"></div>
    </div>
    <div class="box property-documentations" (click)="goto()">
      <label><div class="circle"></div>Property Documentations</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/property-documentations.png"></div>
    </div>
    <div class="box court-marriage" (click)="goto()">
      <label><div class="circle"></div>Court Marriage</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/court-marriage.png"></div>
    </div>
    <div class="box patent" (click)="goto()">
      <label><div class="circle"></div>Patent / Copy Right / Trademark</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/patent-and-copy-right.png"></div>
    </div>
    <div class="box rti" (click)="goto()">
      <label><div class="circle"></div>Right to Information (RTI)</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/rti.png"></div>
    </div>
    <div class="box civil" (click)="goto()">
      <label><div class="circle"></div>Civil & Commercial Matters</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/civil.png"></div>
    </div>
    <div class="box company-registrations" (click)="goto()">
      <label><div class="circle"></div>Company Registrations</label>
      <hr class="hr"/>
      <div class="service-image"><img src="../../../assets/legal-services-images/company-registrations.png"></div>
    </div>
  
  </div>