.legal-serivces-container {
    margin: 0 auto;
    width: 100%;
    max-width: 90em;
    height: auto;
    padding: 1em;
    #display: flexbox;
    #float: left;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
    grid-gap: 20px;
    align-items: stretch;
  }
  
  .box {
    border-radius: 10px;
    background-color: #06a178;
  }

  .box:hover {
    letter-spacing: 3px;
    background: #999;
    -webkit-box-shadow: 0px 5px 50px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 50px -10px rgba(0,0,0,0.57);
    transition: all 0.8s ease 0s;
    cursor: pointer;
  }
  
  .service-image > img { 
    width: 100%; 
    margin: 1em 0 0 0;
  }

  .service-image > img:hover {
    transform: scale(0.9,0.9);
    transition: all 0.8s ease 0s;
    border-radius: 15px;
  }
  
  .criminal-laws {background-color: #e79d48;}
  .family-laws { background-color: #e76f5f;}
  .property-laws { background-color: #769094;}
  .contract-laws { background-color: #46b5cf;}
  .backing-financial-laws { background-color: #06a178;}
  .service-matters { background-color: #be3bb8;}
  .cyber-crimes { background-color: #588db8;}
  .ni-acts { background-color: #ea3e39;}
  .bails { background-color: #f89a45;}
  .sexual-offences { background-color: #e87161;}
  .property-documentations { background-color: #769094;}
  .court-marriage { background-color: #46b5cf;}
  .patent { background-color: #06a178;}
  .rti { background-color: #be3bb8;}
  .civil { background-color: #588db8;}
  .company-registrations { background-color: #ea3e39;}

  .box label {
    width: 100%;
    padding: 1em;
    text-align: center;
    color: #fff;
    font-size: 1.1em;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  .hr {
    width: 30%;
    margin: 0 auto;
    color: #fff;
    border: 1px solid;
    opacity: 1;
  }
  
  .circle {
    content: "";
    width: 1em;
    height: 1em;
    background-color: #fff;
    border-radius: 50%;
  }
  
  .links-container {
    width: 100%;
    height: auto;
    padding: .8em 1em;
    text-align: center;
  }
  
  .button {
    margin: 5px;
    padding: 5px 10px;
    border: none; 
    border-radius: 30em;
    background-color: #ffffff95;
  }
  
  .button a {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bolder;
  }
  
  .button-1 a { color: #c38938;}
  .button-2 a { color: #b3584c; }
  .button-3 a { color: #4e6569; }
  .button-4 a { color: #377988; }
  .button-5 a { color: #088665; }
  .button-6 a { color: #970290; }
  .button-7 a { color: #3485b1; }
  .button-8 a { color: #be3f08; }
  
  .button:hover { background-color: #FFFFFF }
  