<div class="legal-serivces-container">

    <div class="box criminal-laws">
      <label><div class="circle"></div>Criminal Laws</label>
      <hr class="hr"/>
    </div>
    <div class="box family-laws">
      <label><div class="circle"></div>Family Laws</label>
      <hr class="hr"/>
    </div>
    <div class="box property-laws">
      <label><div class="circle"></div>Properties Laws</label>
      <hr class="hr"/>
    </div>
    <div class="box contract-laws">
      <label><div class="circle"></div>Contract laws</label>
      <hr class="hr"/>
    </div>
    <div class="box backing-financial-laws">
      <label><div class="circle"></div>Banking & Financial Laws</label>
      <hr class="hr"/>
    </div>
    <div class="box service-matters">
      <label><div class="circle"></div>Service Matters</label>
      <hr class="hr"/>
    </div>
    <div class="box cyber-crimes">
      <label><div class="circle"></div>Cyber Crimes</label>
      <hr class="hr"/>
    </div>
    <div class="box ni-acts">
      <label><div class="circle"></div>Cheque Bounce (NI Acts)</label>
      <hr class="hr"/>
    </div>
    <div class="box bails">
      <label><div class="circle"></div>Bails</label>
      <hr class="hr"/>
    </div>
    <div class="box sexual-offences">
      <label><div class="circle"></div>Sexual / Domestic Offences</label>
      <hr class="hr"/>
    </div>
    <div class="box property-documentations">
      <label><div class="circle"></div>Property Documentations</label>
      <hr class="hr"/>
    </div>
    <div class="box court-marriage">
      <label><div class="circle"></div>Court Marriage</label>
      <hr class="hr"/>
    </div>
    <div class="box patent">
      <label><div class="circle"></div>Patent / Copy Right / Trademark</label>
      <hr class="hr"/>
    </div>
    <div class="box rti">
      <label><div class="circle"></div>Right to Information (RTI)</label>
      <hr class="hr"/>
    </div>
    <div class="box civil">
      <label><div class="circle"></div>Civil & Commercial Matters</label>
      <hr class="hr"/>
    </div>
    <div class="box company-registrations">
      <label><div class="circle"></div>Company Registrations</label>
      <hr class="hr"/>
    </div>
  
  </div>