.footer-container {
	background:url("../../../assets/images/border.png") repeat-x 0px 0px #071029;
	float:left;
	width:100%;
	height:auto;
	margin-top: 1em; 
	color:#ddd;
	font-size: 1.3em;
}

a {
	color:#ddd;
}

.about_us {
	padding: 3em 2em;
	width: 40%;
	float:left;
	height: auto;
}

.about_us img {
	display:inline-block;
    background-color: #fff;
}

.about_us a {
	text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #0da584;
}

.quick_link, .footer_right {
	width:30%;
	float:left;
    height: auto;
}

.quick_link h3, .footer_right h3 {
	font-size:1.2em;
	color: #0da584;
	margin: 30px 30px 20px 40px;
}

.list-unstyled {
	font-size:1em;
	padding-left: 40px;
	list-style: none;
}

.list-unstyled li a {
	margin:5px;
	text-decoration: none;
	cursor:pointer;
}

.footer-copyright-container {
	background: url("../../../assets/images/border.png") repeat-x 0px 0px #68747d;
	width:100%;
	float:left;
	height: 1em;
	text-align:center;
	padding:30px 0 50px 0;
	color: #0da584;

}

.footer-copyright-container a {
	color:#fff;
}

/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	.about_us {
		width: 100%;
	}
	.quick_link, .footer_right {
		width: 100%;
	}
}
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	.about_us {
		width: 100%;
	}
	.quick_link, .footer_right {
		width: 100%;
	}
}
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	.about_us {
		width: 100%;
	}
	.quick_link, .footer_right {
		width: 100%;
	}
	.about_us_content {
		width: 100%;
	}
}