.footer-container {
	background:url("../../../assets/images/border.png") repeat-x 0px 0px #083355;
	float:left;
	width:100%;
	height:auto;
	color:#ddd;
	font-size: 1.3em;
}

.content-panel {
	margin: 0 auto;
	max-width: 70em;
	display: flexbox;
	
}

a {
	color:#ddd;
}

.about_us {
	padding: 1.5em;
	width: 40%;
	float:left;
	height: auto;
}

.about_us img {
	display:inline-block;
    background-color: #fff;
}

.about_us a {
	text-decoration: none;
    font-size: 1.5em;
    font-weight: bold;
    color: #ffffff;
}

.about_us p {
	padding-top: 1em;
	line-height: 1.5em;
}

.quick_link, .footer_right {
	width: 30%;
	float: left;
    height: auto;
	text-align: left;
}

.footer_right {
	width: 30%;
}

.quick_link h1, .footer_right h1 {
	font-size: 0.9em;	
	font-weight: bold;
	color: #ffffff;
	margin: 1.5em;
	text-transform: uppercase;
}

.hr {
	width: 6em;
	margin: 0 0 1.5em 1.5em;
	color: #e96a1b;
	border: .1rem solid;
	opacity: 1;
  }

.list-unstyled {
	font-size:1em;
	padding-left: 1.5em;
	list-style: none;
}

.list-unstyled li {
	padding: 0.3em 0;	
}

.list-unstyled li a {
	text-decoration: none;
	cursor:pointer;
}

.list-unstyled li a:hover {
	color: #08acac;
}

.list-unstyled li i {
	padding: 0.5em;
}

.region {
	width: 100%;
	float: left;
	text-align: center;
}

.region ul li {
	list-style: none;
	display: inline;
	font-size: 1em;
	padding: 1em 0.5em;
	color: #08acac;
}

.region ul li i {
	font-size: 0.5em;
}


.footer-copyright-container {
	background: url("../../../assets/images/border.png") repeat-x 0px 0px #071029;
	width:100%;
	float:left;
	height: 1em;
	text-align:center;
	padding:30px 0 50px 0;
	color: #08acac;

}

.footer-copyright-container a {
	color:#fff;
}

/*--media Quries for 640px-monitors-*/
@media only screen and (max-width:640px) and (min-width:480px) {
	.about_us {
		width: 100%;
	}
	.quick_link, .footer_right {
		width: 100%;
	}
}
/*--media Quries for 480px-monitors-*/
@media only screen and (max-width:480px) and (min-width:320px) {
	.about_us {
		width: 100%;
	}
	.quick_link, .footer_right {
		width: 100%;
	}
}
/*--media Quries for 320px-monitors-*/
@media only screen and (max-width:320px) and (min-width:240px) {
	.about_us {
		width: 100%;
	}
	.quick_link, .footer_right {
		width: 100%;
	}
	.about_us_content {
		width: 100%;
	}
}