	<!-- Footer -->
    <div class="footer-container">
        <div class="about_us">
            <div class="about_us_content">
                <a><img src="/assets/images/legal-space-icon.png" title="LegalSpace" width="40" height="40" /> LegalSpace</a>
                <p>Legal Space has vision to help our clients to simplify entire tedious legal process for them. We always keeps clarity during the process to build trust with our clients.</p>						
            </div>
        </div>
        
        <div class="quick_link">
            <h3>Quick Links</h3>
            <ul class="list-unstyled">
                <li role="presentation"><a href="#">Home</a></li>
                <li role="presentation"><a href="#about">About</a></li>
                <li role="presentation"><a href="#company">Company</a></li>
                <li role="presentation"><a href="#">Become A Partner</a></li>
                <li role="presentation"><a href="#">Partners</a></li>
            </ul>
        </div>
        
        <div class="footer_right">
            <h3>Contact Us</h3>
            <ul class="list-unstyled">
                <li><a href=""><i class="bi bi-envelope"> </i> consult.legalspace@gmail.com</a></li>
                <li><a href=""><i class="bi bi-telephone"></i> +91 995 889 9824</a></li>
                <li><a href=""><i class="bi bi-alarm"></i> Everyday : 09AM - 8PM</a></li>
            </ul>
        
            <ul class="list-unstyled">
                <li><a href=""><i class="bi bi-facebook"></i> Facebook</a></li>
                <li><a href=""><i class="bi bi-twitter"></i> Twitter</a></li>
                <li><a href=""><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                <li><a href=""><i class="bi bi-youtube"></i> Youtube</a></li>
            </ul>
        </div>
        
        
        <div class="footer-copyright-container">
            <i class="fa fa-copyright"></i>	2023 | <a target="_blank" href="http://legalspace.in">LEGALSPACE</a> | All Rights Reserved
        </div>
        
        
        <div class="white_shape"></div>
                 
    </div><!-- Footer end -->