	<!-- Footer -->
    <div class="footer-container">
        <div class="content-panel">
            <div class="about_us">
                <div class="about_us_content">
                    <!-- <a href="/"><img src="/assets/images/logo.png" title="LegalSpace" width="150" height="30" /></a> -->
                    <a href="/">#legal</a>
                    <p> 
                        "At #legal, we're more than just legal professionals. we're your partners in navigating the complex legal landscape. Our mission is to empower individuals, businesses, and organizations by providing top-tier legal services that blend tradition with technological innovation."
                    <p>
                        <b>Online Legal Documentation Services:</b> 
                        Need a customized contract, affidavit, power of attorney, will, or deed? 
                        Our user-friendly platform streamlines the process, 
                        ensuring that your legal documents are accurate,
                        compliant, and tailored to your specific needs.
                    </p>
                    <p>
                        <b>Legal Assistance:</b> 
                        When legal complexities arise, you don't have to face them alone. 
                        Our legal expert team provides personalized legal advice, representation, and strategic solutions. 
                        From business formation to family disputes to intellectual property matters, we've got you covered.
                    </p>						
                </div>
            </div>
            
            <div class="quick_link">
                <h1>Quick Links</h1>
                <hr class="hr"/>
                <ul class="list-unstyled">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="about-us">About us</a></li>
                    <li role="presentation"><a href="how-it-works">How it works</a></li>
                </ul>
            </div>
            
            <div class="footer_right">
                <h1>Contact Us</h1>
                <hr class="hr"/>
                <ul class="list-unstyled">
                    <li><i class="bi bi-envelope"> </i> consult.legalspace@gmail.com</li>
                    <li><i class="bi bi-telephone"></i> +91 995 889 9824</li>
                    <li><i class="bi bi-alarm"></i> Everyday : 09AM - 8PM</li>
                </ul>
            
                <!-- <ul class="list-unstyled">
                    <li><a href=""><i class="bi bi-facebook"></i> Facebook</a></li>
                    <li><a href=""><i class="bi bi-twitter"></i> Twitter</a></li>
                    <li><a href=""><i class="bi bi-linkedin"></i> LinkedIn</a></li>
                    <li><a href=""><i class="bi bi-youtube"></i> Youtube</a></li>
                </ul> -->
            </div>

            <div class="region">
                <ul>
                    <li>Noida</li>
                    <li><i class="bi bi-circle-fill"></i></li>
                    <li>Delhi</li>
                    <li><i class="bi bi-circle-fill"></i></li>
                    <li>Gurugram</li>
                </ul>
            </div>

        </div>
        
        
        <div class="footer-copyright-container">
            <i class="fa fa-copyright"></i>	2024 | <a target="_blank" href="http://legalspace.co.in">#legal</a> | All Rights Reserved
        </div>
        
        
        <div class="white_shape"></div>
                 
    </div><!-- Footer end -->