.section-header {
    margin-top: 4em;
    padding: 2em 0 2em 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.section-header h3 {
    padding-top: 0;
    color: #08acac;
    text-transform: uppercase;
}

.service-content {
    width: 100%;
    padding: 2em 3em;
    font-size: 1.3em;
    background-color: #ffffff;
}