.form-container {
	margin: 0 auto;
    padding: 1em 0 5em 0;
	width: 100%;
	height:auto;
	border-radius: 5px;
	float: left;
}
.form-container form {
    margin: 0 auto;
    max-width: 30em;
	width: 100%;
}

input, textarea{
	border: #08acac solid 0.1rem;
}

label {
	color: #08acac;
	font-weight: bold;
}

.title-holder {
	width: 100%;
    text-align: center;
    font-weight: bold;
    padding: 0 0 1em 0;
}

.title-holder h3 {
	width: 100%;
	font-size: 1.1em;
}

.title-holder span {
    float: left;
	width: 100%;
}

.info-holder {
	width: 100%;
}

.error-holder, .success-holder {
    padding: 0.2em 0;
	width: 100%;
    font-size: 1em;
	font-weight: bold;
	color: #c20c27;
}

.success-holder {
	color: #069150;
	font-size: 1.2em;
}

.action-btn-holder {
	width: 100%;
	
}

.action-btn {
	margin: 10px 0 10px 0;
	padding:10px 20px 10px 20px;
	text-align: center;
	background-color: #08acac;
	color:#fff;
	font-size: 1em;
	font-weight: bold;
	border: none;
	cursor: pointer;
}

.forgot-pwd-text {
	margin-left: 5px; 
}

.action-link {
    color: #cf2900;
    cursor: pointer;
}


