<div class="form-container">
    <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" >
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name" name="name" [(ngModel)]="model.name" #name="ngModel"/>
            <label for="floatingInput">Name*</label>
            <div class="error-holder" *ngIf="errName"><i class="bi bi-x-circle"></i> {{errMsgName}}</div>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="phone" maxlength="10"  name="phone" [(ngModel)]="model.phone" #phone="ngModel"/>
            <label for="floatingInput">Phone Number*</label>
            <div class="error-holder" *ngIf="errPhone"><i class="bi bi-x-circle"></i> {{errMsgPhone}}</div> 
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="email" name="email" [(ngModel)]="model.email" #email="ngModel"/>
            <label for="floatingInput">Email*</label>
            <div class="error-holder" *ngIf="errEmail"><i class="bi bi-x-circle"></i> {{errMsgEmail}}</div>
        </div>
        
        <div class="form-floating mb-3">
            <textarea class="form-control" placeholder="" id="floatingTextarea2"  maxlength="2000" style="height: 100px" placeholder="message" name="message" [(ngModel)]="model.message" #message="ngModel"></textarea>
            <label for="floatingPassword">Message*</label>
            <div class="error-holder" *ngIf="errMessage"><i class="bi bi-x-circle"></i> {{errMsgMessage}}</div>
        </div>
        <div class="success-holder" *ngIf="success"><i class="bi bi-patch-check-fill"></i> {{sucessMessage}}</div>
        <div class="action-btn-holder">
            <button type="submit" class="action-btn">SUBMIT</button>
        </div>
    </form>
</div>

