<div class="header">
	<div class="wrap">
		<div class="nav-icon" onclick="openNav()">
		
			<i class="material-icons">menu</i> 
		
		</div>
		<div class="logo">
			<a href="index.html"><img src="/assets/images/legal-space-icon.png" title="LegalSpace" width="40" height="40" /> LegalSpace</a>
		</div>
		
		<div class="right-top-panel">
			<ul>
				<li><i class="bi bi-bell"></i><span>10</span></li>
				<li><i class="bi bi-gear"></i></li>
				<li onclick="openProfilePanel()">User Name<i class="bi bi-chevron-down"></i></li>
			</ul>
		</div>
	</div>

</div>

