<page-title [title]="'HOW IT WORKS'" [icon]="'bi bi-ui-checks-grid'"></page-title>
<hr class="hr">
<div class="workflow-section-panel">
    <div class="workflow">
        <div class="card">
            <span>
                <label>01.</label> 
                Submit Your Legal Documentations or Free Legal Consutlation Reqeust.
            </span>
            <p><img src="../../../assets/images/submit.gif" width="100px" height="100px"/></p>
        </div>

        <div class="card">
            <span>
                <label>02.</label> 
                One Of Our Legal Representative Will Contract You To Discuss 
                Your Case And Provide Appropriate Advises.
            </span>
            <p><img src="../../../assets/images/phone.gif" width="100px" height="100px"/></p>
        </div>

        <div class="card">
            <span>
                <label>03.</label> 
                If You Need Further Legal Support, 
                We will Allocate A Dadicated Specialized Lawyer For Your Case To Provide You Legal Asistance.
            </span>
            <p><img src="../../../assets/images/lawyer.gif" width="100px" height="100px"/></p>
        </div>

        <div class="card">
            <span>
                <label>04.</label> 
                Our counsels Will Handle Documentations Or Argue Your Case Before The Court. 
                During This Enitre Legal Porcess We Keep Things Fully Transparent.</span>
            <p><img src="../../../assets/images/counsel.gif" width="150px" height="150px"/></p>
        </div>
    </div>
</div>
