.workflow-section-panel {
    width: 100%;
    padding: 0.1em 3em;
    font-size: 1.4em;
    color: #333;
    background-color: #eee;
    text-align: center;
}

.workflow {
    margin: 0 auto;
    width: 20em;
}

.workflow label {
    font-size: 2em;
    color: #08acac;
}

.card {
    width: 100%;
    height: auto;
    padding: 1em;
    margin: 1em 0 2em 0;
    border: solid #08acac;
}
