.section-header {
    margin-top: 4em;
    padding: 2em 0 1em 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.section-header span {
    color: #08acac;
    font-size: 1.2em;
    font-weight: bolder;
    max-width: 30em;
}