.blogs-main {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    max-width: 90em;
    color: #333;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
    grid-gap: 20px;
    align-items: stretch;
}

.b-card {
    #margin: 1em;
    padding: 2em;
    #float: left;
    #color: #555;
    #width: 20em;
    #height: auto; 
    border-radius: 0.5em;
    background-color: #FFFFFF;
    text-align: justify;
}
.b-icon {
    font-size: 1.2em;
    font-weight: bold;
    color: #08acac;
    text-align: center;
    text-transform: uppercase;
}

.b-card  p {
    margin-top: 0.5em;
    font-size: 1.2em;
    line-height: 1.3em;
}

.hr {
    width: 30%;
    margin: 1em auto;
    color: #08acac;
    border: 1px solid;
    opacity: 1;
  }
  

.circle {
    content: "";
    width: 1em;
    height: 1em;
    background-color: #000;
    border-radius: 50%;
  }

button {
	border: 0.1rem solid #eee;
	background-color: #f81056;
	color: #fff;
	border-radius: .3em;
    font-weight: bold;
	padding: 0.5em 1em;
}

button a {
    text-decoration: none;
    color: #ffffff;
}

button:hover {
    background-color: #b6063b;
}