<div class="banner">
    <div class="part">
        <div class="banner-title">We Offers Legal Assitance</div>
        <div class="banner-action"><button (click)="goto()">Select Legal Services <i class="bi bi-caret-right-fill"></i></button></div>
        <div class="banner-desc">Arbitrators and Mediators are appointed via a Panel of 3000+ Neutrals available at Sama, from across 500+ districts in India.</div>
    </div>
    <div class="part">
        <img class="img" src="../../../assets/images/female-gear-lawyer.png">
    </div>
    

</div>
