<div class="banner">
    <div class="part">
        <div class="banner-title">We Offers Legal Assitance</div>
        <div class="banner-action"><button (click)="goto()">Select Legal Services <i class="bi bi-caret-right-fill"></i></button></div>
        <div class="banner-desc">
            Legal-Space wants to simplify entire tedious legal process for our clients. 
            We provide legal assitance on various legal issues. 
            Our clients trust us and we offers transparency to our clients during the entire legal process. 
            Our specialized legal counsiles represent in behalf of our clients to fullfil their legal objectives.
        </div>
        <div class="banner-action"><a href="#">How Does It Work <i class="bi bi-caret-right-fill"></i></a></div>
    </div>
    <div class="part">
        <img class="img" src="../../../assets/images/female-gear-lawyer.png">
    </div>
    

</div>
