<page-title [title]="'GENERAL POWER OF ATTORNEY'" [icon]="'bi bi-bookmark-star-fill'"></page-title>
<div class="wizard-panel">
    <div class="wiz-container">
        <form name="form"  #f="ngForm" >
            <div class="wiz-step">
                <!--First Step-->
                <div class="wiz-step-header">
                    <span class="wiz-step-lbl">1</span><label> Purpose</label> <i class="bi bi-patch-check-fill" *ngIf="currentStep > 1"></i>
                </div>
                <div class="wiz-step-component-holder" id="wiz-step-1" *ngIf="currentStep == 1">

                    <label class="cont-label">What is the purpose of POA?*</label>
                    <mat-chip-listbox aria-label="purpose" name="purpose" [(ngModel)]="model.purpose" #purpose="ngModel" >
                        <mat-chip-option selected>Property</mat-chip-option>
                        <mat-chip-option color="warn">Banking</mat-chip-option>
                        <mat-chip-option color="accent">Money & Investment</mat-chip-option>
                        <mat-chip-option color="primary">Business</mat-chip-option>
                        <mat-chip-option color="warn">Govt. and Legal Representation</mat-chip-option>
                        <mat-chip-option color="accent">Other</mat-chip-option>
                    </mat-chip-listbox>
                    <div class="error-holder" *ngIf="error && errorFields.includes('purpose')"><i class="bi bi-x-circle"></i> Select the purpose for power of attorney.</div>

                    <label class="cont-label">What is your residential status?*</label>
                    <mat-chip-listbox aria-label="residentialStatus" name="residentialStatus" [(ngModel)]="model.residentialStatus" #residentialStatus="ngModel">
                        <mat-chip-option selected>Living in India</mat-chip-option>
                        <mat-chip-option color="warn">Living Outside India</mat-chip-option>
                        <mat-chip-option color="accent">NRI</mat-chip-option>
                    </mat-chip-listbox>
                    <div class="error-holder" *ngIf="error && errorFields.includes('residentialStatus')"><i class="bi bi-x-circle"></i> Select your residential status.</div>
                    
                    <label class="cont-label">What is the reason of making POA?*</label>
                    <mat-chip-listbox aria-label="reason" name="reason" [(ngModel)]="model.reason" #reason="ngModel">
                        <mat-chip-option selected>I'm living out of town</mat-chip-option>
                        <mat-chip-option color="warn">I'm living out of country</mat-chip-option>
                        <mat-chip-option color="accent">I'm a NRI</mat-chip-option>
                        <mat-chip-option color="primary">I have bad physical health</mat-chip-option>
                        <mat-chip-option color="warn">I'm a senior citizen</mat-chip-option>
                        <mat-chip-option color="accent">I'm a house wife</mat-chip-option>
                        <mat-chip-option color="primary">Other reasons</mat-chip-option>
                      </mat-chip-listbox>
                      <div class="error-holder" *ngIf="error && errorFields.includes('reason')"><i class="bi bi-x-circle"></i> Select the reason of making power of attorney.</div>

                    <label class="cont-label">What is the start date of POA?*</label>
                    <mat-form-field appearance="fill"> 
                        <mat-label>(MM/DD/YYYY)</mat-label> 
                        <input matInput [matDatepicker]="picker" name="startDate" [(ngModel)]="model.startDate" #startDate="ngModel"> 
                        <mat-datepicker-toggle matSuffix [for]="picker"> 
                          </mat-datepicker-toggle>  
                        <mat-datepicker #picker></mat-datepicker> 
                    </mat-form-field>
                    <div class="error-holder" *ngIf="error && errorFields.includes('startDate')"><i class="bi bi-x-circle"></i> Select the start date of POA.</div>
                    
                    <label class="cont-label">What is the place of registration this POA?</label>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" min="1" placeholder="placeOfReg" name="placeOfReg" [(ngModel)]="model.placeOfReg" #placeOfReg="ngModel" />
                        <label for="floatingInput">Place of Registration</label>
                    </div>
                    
                    <div class="nav-btns-holder">
                        <button class="nav-btn" (click)="next()">Next</button>
                    </div>
                </div>

                <!--Second Step-->
                <div class="wiz-step-header">
                    <span class="wiz-step-lbl">2</span><label> Principal Details</label> <i class="bi bi-patch-check-fill" *ngIf="currentStep > 2"></i>
                </div>
                
                <div class="wiz-step-component-holder" id="wiz-step-2" *ngIf="currentStep == 2"> 
                    <div class="info-box">
                        <i class="bi bi-info-circle-fill warn" >Principal is a person who granting power to the attorney.</i>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="principalName" name="principalName" [(ngModel)]="model.principalName" #principalName="ngModel"/>
                        <label for="floatingInput">Principal's Full Name*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('principalName')"><i class="bi bi-x-circle"></i> Enter name of principal.</div>                  
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="principalFatherName" name="principalFatherName" [(ngModel)]="model.principalFatherName" #principalFatherName="ngModel"/>
                        <label for="floatingInput">Principal's Father Name*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('principalFatherName')"><i class="bi bi-x-circle"></i> Enter father name of principal.</div>                  
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" maxlength="3" placeholder="principalAge" name="principalAge" [(ngModel)]="model.principalAge" #principalAge="ngModel"/>
                        <label for="floatingInput">Principal's Age*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('principalAge')"><i class="bi bi-x-circle"></i> Enter age of principal.</div>                  
                    </div>
                    <label class="cont-label">Principal's Gender*</label>
                    <div class="form-floating mb-3">
                        <mat-chip-listbox aria-label="principalGender" name="principalGender" [(ngModel)]="model.principalGender" #principalGender="ngModel">
                            <mat-chip-option selected>Male</mat-chip-option>
                            <mat-chip-option color="warn">Female</mat-chip-option>
                        </mat-chip-listbox>
                        <div class="error-holder" *ngIf="error && errorFields.includes('principalGender')"><i class="bi bi-x-circle"></i> Select gender of principal.</div>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <textarea class="form-control mrgn-btm" placeholder="" id="floatingTextarea2" style="height: 100px" placeholder="principalAddress" name="principalAddress" [(ngModel)]="model.principalAddress" #principalAddress="ngModel"></textarea>
                        <label for="floatingTextarea2">Principal's Address*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('principalAddress')"><i class="bi bi-x-circle"></i> Enter principal's address.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="principalCountry" name="principalCountry" [(ngModel)]="model.principalCountry" #principalCountry    ="ngModel"/>
                        <label for="floatingTextarea2">Principal's Country*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('principalCountry')"><i class="bi bi-x-circle"></i> Enter country of principal.</div>
                    </div>
                    <div class="nav-btns-holder">
                        <button class="nav-btn" (click)="back()">Back</button>
                        <button class="nav-btn" (click)="next()">Next</button>
                    </div>

                    
                </div>

                <!--Third Step-->
                <div class="wiz-step-header">
                    <span class="wiz-step-lbl">3</span><label> Attorney Details</label> <i class="bi bi-patch-check-fill" *ngIf="currentStep > 3"></i>
                </div>
                
                <div class="wiz-step-component-holder" id="wiz-step-3" *ngIf="currentStep == 3"> 
                    
                    <div class="info-box">
                        <i class="bi bi-info-circle-fill warn" >Attorney is a person whom principal wants to grant the power.</i>
                    </div>

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="attorneyName" name="attorneyName" [(ngModel)]="model.attorneyName" #attorneyName="ngModel"/>
                        <label for="floatingInput">Attorney's Full Name*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('attorneyName')"><i class="bi bi-x-circle"></i> Enter name of attorney.</div>                  
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="attorneyFatherName" name="attorneyFatherName" [(ngModel)]="model.attorneyFatherName" #attorneyFatherName="ngModel"/>
                        <label for="floatingInput">Attorney's Father Name*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('attorneyFatherName')"><i class="bi bi-x-circle"></i> Enter father name of attorney.</div>                  
                    </div>
                    <div class="form-floating mb-3">
                        <input type="number" class="form-control" id="floatingInput" maxlength="3" placeholder="attorneyAge" name="attorneyAge" [(ngModel)]="model.attorneyAge" #attorneyAge="ngModel"/>
                        <label for="floatingInput">Attorney's Age*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('attorneyAge')"><i class="bi bi-x-circle"></i> Enter age of attorney.</div>                  
                    </div>
                    <label class="cont-label">Attorney's Gender*</label>
                    <div class="form-floating mb-3">
                        <mat-chip-listbox aria-label="attorneyGender" name="attorneyGender" [(ngModel)]="model.attorneyGender" #attorneyGender="ngModel">
                            <mat-chip-option selected>Male</mat-chip-option>
                            <mat-chip-option color="warn">Female</mat-chip-option>
                        </mat-chip-listbox>
                        <div class="error-holder" *ngIf="error && errorFields.includes('attorneyGender')"><i class="bi bi-x-circle"></i> Select gender of attorney.</div>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <textarea class="form-control mrgn-btm" placeholder="" id="floatingTextarea2" style="height: 100px" placeholder="attorneyAddress" name="attorneyAddress" [(ngModel)]="model.attorneyAddress" #attorneyAddress="ngModel"></textarea>
                        <label for="floatingTextarea2">Attorney's Address*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('attorneyAddress')"><i class="bi bi-x-circle"></i> Enter attorney's address.</div>
                    </div>
                    <div class="nav-btns-holder">
                        <button class="nav-btn" (click)="back()">Back</button>  
                        <button class="nav-btn" (click)="next()">Next</button>
                    </div>
                </div>

                <!--Fourth Step-->
                <div class="wiz-step-header">
                    <span class="wiz-step-lbl">4</span><label> Additional Clauses</label> <i class="bi bi-patch-check-fill" *ngIf="currentStep > 4"></i>
                </div>
                
                <div class="wiz-step-component-holder" id="wiz-step-4" *ngIf="currentStep == 4"> 

                    <label class="cont-label">Is there a time limits for this POA?*</label>
                    <div class="info-box">
                        <i class="bi bi-info-circle-fill warn" >Power of Attorney can be for a limited period also. After the date on which the power ends, this deed will become void.</i>
                    </div>
                    <div class="form-floating mb-3">
                        <mat-chip-listbox aria-label="isLimitedTimePOA" name="isLimitedTimePOA" [(ngModel)]="model.isLimitedTimePOA" #isLimitedTimePOA="ngModel">
                            <mat-chip-option selected>Yes</mat-chip-option>
                            <mat-chip-option color="warn">No</mat-chip-option>
                        </mat-chip-listbox>
                        <div class="error-holder" *ngIf="error && errorFields.includes('isLimitedTimePOA')"><i class="bi bi-x-circle"></i> Select one option, is POA has time limits.</div>
                    </div>
                    <label class="cont-label">Is this a durable POA?*</label>
                    <div class="info-box">
                        <i class="bi bi-info-circle-fill warn" >With durable Power of Attorney, the power to the Attorney continues even if the Pancipal becomes mentally incapacitated, legally incompetent or dead.</i>
                    </div>
                    <div class="form-floating mb-3">
                        <mat-chip-listbox aria-label="isDurablePOA" name="isDurablePOA" [(ngModel)]="model.isDurablePOA" #isDurablePOA="ngModel">
                            <mat-chip-option selected>Yes</mat-chip-option>
                            <mat-chip-option color="warn">No</mat-chip-option>
                        </mat-chip-listbox>
                        <div class="error-holder" *ngIf="error && errorFields.includes('isDurablePOA')"><i class="bi bi-x-circle"></i> Select one option, whether POA is durable.</div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control mrgn-btm" placeholder="" id="floatingTextarea2" style="height: 100px" placeholder="additinalTermsConditions" name="additinalTermsConditions" [(ngModel)]="model.additinalTermsConditions" #additinalTermsConditions="ngModel"></textarea>
                        <label for="floatingTextarea2">Additinal Terms & Conditions (Optional)</label>
                    </div>

                    <div class="nav-btns-holder">
                        <button class="nav-btn" (click)="back()">Back</button>
                        <button class="nav-btn" (click)="next()">Next</button>
                    </div>
                </div>

                <!--Fifth Step-->
                <div class="wiz-step-header">
                    <span class="wiz-step-lbl">5</span><label> Your Contact Details</label> <i class="bi bi-patch-check-fill" *ngIf="currentStep > 5"></i>
                </div>
                
                <div class="wiz-step-component-holder" id="wiz-step-5" *ngIf="currentStep == 5"> 

                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="yourName" name="yourName" [(ngModel)]="model.yourName" #yourName="ngModel"/>
                        <label for="floatingInput">Your Full Name*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('yourName')"><i class="bi bi-x-circle"></i> Enter your name.</div>                  
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="email" name="email" [(ngModel)]="model.email" #email="ngModel"/>
                        <label for="floatingInput">Email*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('email')"><i class="bi bi-x-circle"></i> Enter your email.</div>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="text" class="form-control" id="floatingInput" placeholder="phone" maxlength="10"  name="phone" [(ngModel)]="model.phone" #phone="ngModel"/>
                        <label for="floatingInput">Phone Number*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('phone')"><i class="bi bi-x-circle"></i> Enter your phone number.</div>
                    </div>
                    <div class="form-floating">
                        <textarea class="form-control mrgn-btm" placeholder="" id="floatingTextarea2" style="height: 100px" placeholder="deliveryAddress" name="deliveryAddress" [(ngModel)]="model.deliveryAddress" #deliveryAddress="ngModel"></textarea>
                        <label for="floatingTextarea2">Delivery Address*</label>
                        <div class="error-holder" *ngIf="error && errorFields.includes('deliveryAddress')"><i class="bi bi-x-circle"></i> Enter your delivery address.</div>
                    </div>

                    <div class="nav-btns-holder">
                        <button class="nav-btn" (click)="back()">Back</button>
                        <button class="nav-btn" (click)="onSubmit()">Submit</button>
                    </div>
                </div>
                <div class="success-holder" *ngIf="success"><i class="bi bi-patch-check-fill"></i> Thankyou! Your request has been successfully sumbitted. We will contact you shortly.</div>

            </div>
        </form>
    </div>
</div>
