<div class="banner">
    <div class="part">
        <img class="img" src="../../../assets/images/automated-metal-girl.png">
    </div>
    <div class="part">
        <div class="banner-title">Create Legal Documentations</div>
        <div class="banner-action"><button (click)="goto()">Create Legal Documents <i class="bi bi-caret-right-fill"></i></button></div>
        <div class="banner-desc">
            We know your time is precious. 
            Do you need a customized contract, affidavit, power of attorney, will, or deed? 
            Our user-friendly platform streamlines the process. 
            With <b>#legal</b> it's easy to raise legal documentations request to us. 
            Our legal expert will ensure that your legal documents are accurate, compliant, and tailored to your specific needs.
        </div>
        <div class="how-action"><a href="/how-it-works">How It Works <i class="bi bi-caret-right-fill"></i></a></div>
    </div>

</div>
