<div class="banner">
    <div class="part">
        <img class="img" src="../../../assets/images/automated-metal-girl.png">
    </div>
    <div class="part">
        <div class="banner-title">Create Legal Documentations</div>
        <div class="banner-action"><button (click)="goto()">Create Legal Documents <i class="bi bi-caret-right-fill"></i></button></div>
        <div class="banner-desc">Arbitrators and Mediators are appointed via a Panel of 3000+ Neutrals available at Sama, from across 500+ districts in India.</div>
    </div>

</div>
