.blog-container {
    margin: 5em 0;
    width: 100%;
    height: auto;
}

.title {
    padding: 0 0 1em 0;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1em;
    color: #000;
}

.blog-content {
    margin: 0 auto;
    width: 100% ;
    max-width: 70em;
    padding: 2em 3em;
    font-size: 1.3em;
    line-height: 1.5em;
    background-color: #ffffff;
}