<!---start-content---->
<div class="content" onclick="closeNav()">

    <!-- <video class="main-banner" autoplay muted loop id="myVideo">
            <source src="../../../assets/videos/documentations-video.mp4" type="video/mp4">
    </video> -->
    <!-- <div class="main-banner">

        <div class="typing-container">
    
            <div class="static-txt">
                Welcome! 
                <br> Create Legal Documentations & Legal Consulating Online
            </div>
    
            <div class="typing-slider">
                <p>Legal Contracts.</p>
                <p>Lease Agreements.</p>
                <p>Power Of Attorney.</p>
                
            </div>
            <button class="book-consulting"><a href="/consultation-request">Book Free Consulting</a></button>
        </div>
        
    </div>   -->
    <banner></banner>
</div>



<div class="section-header">
    <div class="header-text">LEGAL DOCUMENTATION OFFERINGS</div>
</div>
<documentation-services></documentation-services>

<div class="section-header">
    <div class="header-text">LEGAL BLOGS</div>
</div>
<blog-card></blog-card>
<service-offerings></service-offerings>

<div class="section-header">
    <div class="header-text">REQUEST FREE LEGAL CONSULTATION</div>
</div>
<consulation-request></consulation-request>
<!---//End-content---->