<!---start-content---->
<div class="banner-container" onclick="closeNav()">

    <!-- <video class="main-banner" autoplay muted loop id="myVideo">
            <source src="../../../assets/videos/documentations-video.mp4" type="video/mp4">
    </video> -->
    <!-- <div class="main-banner">

        <div class="typing-container">
    
            <div class="static-txt">
                Welcome! 
                <br> Create Legal Documentations & Legal Consulating Online
            </div>
    
            <div class="typing-slider">
                <p>Legal Contracts.</p>
                <p>Lease Agreements.</p>
                <p>Power Of Attorney.</p>
                
            </div>
            <button class="book-consulting"><a href="/consultation-request">Book Free Consulting</a></button>
        </div>
        
    </div>   -->
    <banner></banner>
</div>



<div class="section-header">
    <div class="header-text">
        <span>DOCUMENTATION OFFERINGS</span>
    </div>
</div>
<div class="documentations-section">
    <documentation-services></documentation-services>
</div>

<div class="section-header">
    <div class="header-text">
        <span>LEGAL SERVICES OFFERINGS</span>
    </div>
</div>
<legal-services></legal-services>

<div class="section-header">
    <div class="header-text">
        <span>LEGAL BLOGS</span>
    </div>
</div>
<blog-card></blog-card>

<div class="section-header">
    <div class="header-text">
        <span>FREE LEGAL CONSULTATION</span>
    </div>
</div>
<div class="consulation-request-section">
    <consulation-request></consulation-request>
</div>
<!---//End-content---->