<page-title [title]="'DISCLAIMER'" [icon]="'bi bi-ui-checks-grid'"></page-title>
<hr class="hr">
<div class="content-section">
    <div class="header">
        "At #legal, we provide online legal documentation services and legal assistance on various legal issues. By using our website, you agree to the following terms and conditions:"
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">1. No Legal Advice</div>
            <p>
                The information provided on this website is for general informational purposes only. It does not constitute legal advice or create an attorney-client relationship. Consult with a qualified attorney for personalized legal advice tailored to your specific situation.
            </p>
        </div>
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">2. Not Attorney-Client Privilege</div>
            <p>
                Communication via this website does not establish an attorney-client relationship. We do not guarantee the confidentiality of any information transmitted through our website.
            </p>
        </div>
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">3. Scope of Services</div>
            <p>
                Our website offers legal resources, articles, and templates. However, these materials are not a substitute for professional legal advice. Always consult an attorney before making legal decisions.
            </p>
        </div>
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">4. No Endorsement</div>
            <p>
                Reference to any specific legal case, statute, or legal topic does not imply endorsement or recommendation by <b>#legal</b>
            </p>
        </div>
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">5. Third-Party Links</div>
            <p>
                Our website may contain links to external websites. These links are provided for convenience, but we do not endorse or guarantee the accuracy of the content on those sites.
            </p>
        </div>
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">6. No Warranty</div>
            <p>
                While we strive to provide accurate and up-to-date information, we make no warranties or representations regarding the completeness, accuracy, or reliability of the content on our website.
            </p>
        </div>
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">7. Limitation of Liability</div>
            <p>
                <b>#legal</b> and its attorneys shall not be liable for any direct, indirect, incidental, consequential, or punitive damages arising from your use of this website.
            </p>
        </div>
    </div>

    <div class="banner">
        <div class="part">
            <div class="banner-title">8. Jurisdiction</div>
            <p>
                This disclaimer is governed by the laws of India. Any disputes related to this disclaimer shall be subject to the exclusive jurisdiction of the courts in India.
            </p>
        </div>
    </div>


</div>