.content-section {
    margin: 0 auto;
    width: 100%;
    max-width: 70em;
    height: auto;
}

.header {
    text-align: center;
    font-size: 1.8em;
    font-weight: bold;
    line-height: 1.5em;
    color: #000;
    padding: 1em;
}

.banner {
    margin: 3em auto;
    width: 100%;
    max-width: 70em;
    height: auto;
    display: grid;
}

.part{
    align-self: center;
    padding: 0 1em 0 1em;
}

.part p {
    margin: 1em 0 0 0;
    font-size: 1.4em;
    line-height: 1.3em;
    #text-align: justify;
}

.banner-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #08acac;
    line-height: 1em;
}