.so-main {
    margin: 2em auto;
    width: 100%;
    float: left;
    color: #333;
    background-color: #fff;
}

.s-card {
    margin: 2em 1em;
    padding: 1em;
    float: left;
    color: #555;
    width: 20em;
    height: auto;
    border: solid #eee;
    border-radius: 0.5em;
}
.s-icon {
    font-size: 1.3em;
    font-weight: bold;
    color: #08acac;
    text-transform: uppercase;
}

.s-card  p {
    margin-top: 1em;
    font-size: 1.2em;
}

button {
	border: 0.1rem solid #eee;
	background-color: #f81056;
	color: #fff;
	border-radius: .3em;
    font-weight: bold;
	padding: 0.5em 1em;
}

button a {
    text-decoration: none;
    color: #ffffff;
}

button:hover {
    background-color: #b6063b;
}