<!-- Start Left side menu -->
<div id="sidemenu" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
      <li><a href="/"><i class="bi bi-house-door"></i> Home</a></li>
      <li><a href="/rental-agreement"><i class="bi bi-file-earmark-check"></i> Rental Agreement</a></li>
      <li><a href="/how-it-works"><i class="bi bi-ui-checks-grid"></i> How It Works</a></li>
      <li><a href="/consultation-request"><i class="bi bi-chat-dots"></i><span> Request Free Consultation</span></a></li>
      <li *ngFor="let blog of blogModels"><a href="/blog/{{blog.fileName}}" ><i class="{{blog.icon}}"></i><span> {{blog.title}}</span> </a> 
      
      <div class="clear"> </div>
  </ul>
  </div>
  <!-- End Left side menu -->
  