<!-- Start Left side menu -->
<div id="sidemenu" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <ul>
      <li><a href="/"><i class="bi bi-house-door"></i><span> Home</span></a></li>
      <li><a href="/documentations"><i class="bi bi-file-earmark-medical"></i><span> Create Legal Documentations</span></a></li>
      <li><a href="/legal-services"><i class="bi bi-boxes"></i><span> Legal Consultation Services</span></a></li>
      <li><a href="/consultation-request"><i class="bi bi-input-cursor"></i><span> Request Free Consultation</span></a></li>
      <li><a href="/blogs"><i class="bi bi-book"></i><span> Blogs</span></a></li>
      <li><a href="/how-it-works"><i class="bi bi-puzzle"></i><span> How It Works </span></a></li>
      <div class="clear"> </div>
  </ul>
  </div>
  <!-- End Left side menu -->
  